#banner {
  width: 100%;
}

.principal {
  background: black;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
  color: red;
  font-size: larger;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #faf5f5;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #0a0909;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}
